<!DOCTYPE html>
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>

    <p align="center" style="font-size: 20px; font-weight: 400; color: black;">Регистрация</p>  <br>
    <progress id="prog" max="300" value="100" ></progress><br>
    <p style="width: 70%; text-align:left; display:block;margin-top:-10px; margin:auto; color:#252525; font-size:12px;">Шаг <span id="step">1</span> из 3</p>
     <div id="selectrole">
     <p align="center" >Кем вы являетесь?</p>  <br>
    <select id="role">
        <option value="inv">Инвестор</option>
        <option value="bus">Предприниматель</option>
        <option value="com">Компания</option>
      </select>
      <button id="btn" type="submit" onclick="getRole()" >Следующий шаг</button>

</div>

        <div id="regist" hidden="true" >

      <p align="center">Укажите вашу почту и придумайте пароль</p>  <br>
      <label for="username"> Придумайте имя пользователя<span>*</span></label>
        <input type="text" placeholder="Имя пользователя" id="username"> <br>
      <label for="password">Придумайте пароль<span>*</span></label>
        <input type="password" placeholder="Пароль" id="password"><br>
      <label for="email">Введите почту<span>*</span></label>
        <input type="email" placeholder="Почта" id="email"><br>
      <button type="submit" onclick="RegistrationUser()" id="btn">Следующий шаг</button>

        </div>

<div id="regrole" hidden="true">
     <p align="center">Укажите ваши данные</p>
    <br>
    <label for="inn">Введите ИНН<span>*</span></label>
    <input type="text" maxlength="12" placeholder="ИНН" id="inn">
    <label for="name" maxlength="60">Введите имя<span>*</span></label>
    <input type="text" placeholder="Имя" id="name"><br>
    <label for="surname" >Введите фамилию<span>*</span></label>
    <input type="text" maxlength="60" placeholder="Фамилия" id="surname">
    <label for="call_number">Введите номер<span>*</span></label>
    <input type="text" maxlength="12" placeholder="Номер телефона" id="call_number"><br>
    <label for="locate" >Укажите местоположение<span>*</span></label>
    <input type="text" maxlength="255" placeholder="Локация" id="locate">
    <label for="industry" >Отрасль<span>*</span></label>
    <input type="text" maxlength="255" placeholder="Индустрия" id="industry"><br>
    <label for="sub_industry">Направление отрасли<span>*</span></label>
    <input type="text" maxlength="255" placeholder="Отрасль индустрии" id="sub_industry">
    <label for="status">Статус<span>*</span></label>
    <input type="text" maxlength="60" placeholder="Статус" id="status"><br>
    <label for="gender">Укажите пол<span>*</span></label>
    <select id="gender" name="gender">
        <option value="Мужской">Мужской</option>
        <option value="Женский">Женский</option>
    </select>
    <br>
    <button id="btn" type="submit" onclick="RegistrationRole()">Завершить регистрацию</button>
</div>


</body>
<style>
    body{
        font-family: 'Manrope';
    }
    progress{
        display: block;
        margin: 0 auto;
        width: 70%;
        height: 10px;
        background-color: #D9D9D9;
        border-radius: 30px;
    }

progress::-webkit-progress-bar {
    background-color: #D9D9D9;
    border-radius: 30px;
    border-radius: 30px;
}
progress::-webkit-progress-value {
    background-color: #638FFF;
    border-radius: 30px;
}
progress::-moz-progress-bar {
background-color: #638FFF;
border-radius: 30px;
}
    #regist , #selectrole , #regrole{
        margin: 0 auto;
        width: max-content;
        height: max-content;
    }
    input , select{
        border: none;
        width: 410px;
        border-bottom: 2px solid #C0C0C0;
        padding: 8px 5px;
        margin:10px;
        font-weight: 300;
        font-size: 14px;
        font-family: 'Manrope';
        font-weight: 400;
        background: #FFFFFF;
        color: black;
        outline: none;
    }
    input{
        text-align: left;
    }
    select option{
        background: none;
    }
    ::placeholder{
        color:  #252525;
        font-weight: 300;
    }
    #btn{
        display: block;
        margin: 20px 0 10px auto;
        background: #638FFF;
        border-radius: 4px;
        border: none;
        font-weight: 700;

        padding: 10px 30px;
        color: aliceblue;
        font-family: 'Manrope' ;

    }
    p{
        font-weight: 500;
        font-size: 16px;
        color: #638FFF;
        margin-top: 8px;
    }
    label{
        position:absolute;

        font-size: 11px;
        font-weight: 300;
        margin-left: 10px;
        margin-top: 0px;
    }
    label span{
        color:#638FFF;
        font-weight: 900;
    }
</style>
<script>
    // http://127.0.0.1:8000/offer/auth/users/
    // http://127.0.0.1:8000/offer/login/token/
    // http://127.0.0.1:8000/offer/profile/

    function getRole(){
        var role = document.getElementById('role').value;
        localStorage.setItem("role", role);

    document.getElementById('selectrole').hidden = true;
    document.getElementById('regist').hidden = false;
    document.getElementById('prog').value += 100;
    document.getElementById('step').innerText = 2;
    }
    function setToken(){
        var username = localStorage.getItem('username');
        var password = localStorage.getItem('password');
        var url_token = "http://127.0.0.1:8000/offer/auth/token/login/";
        var option_token = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
            },
            body: JSON.stringify({
                password: password,
                username: username,
            })
        };

    fetch(url_token, option_token)
    .then(response => response.text())
    .then(result => localStorage.setItem('auth_token',result))
    .catch(error => console.log("error", error));
    }
    function RegistrationUser(){
        var url = "http://127.0.0.1:8000/offer/auth/users/";
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var email = document.getElementById("email").value;
        localStorage.setItem('username',username);
        localStorage.setItem('password',password);
        var options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",

            },
            body: JSON.stringify({
                password: password,
                username: username,
                email: email

            })
        };

    fetch(url, options)
    .then(response => response.text())
    .then(result => console.log(result))
    .catch(error => console.log("error", error));

        document.getElementById('regist').hidden = true;
        document.getElementById('regrole').hidden = false;
        document.getElementById('prog').value += 100;
        document.getElementById('step').innerText = 3;
        getToken();
        console.log(localStorage.getItem('authtoken'));
        }
        function RegistrationRole(){
            var url = "http://127.0.0.1:8000/offer/registration/"+localStorage.getItem('role')+'/';
            var token = JSON.parse(localStorage.getItem('auth_token'))['auth_token'];

            var inn = document.getElementById("inn").value;
            var name = document.getElementById("name").value;
            var surname = document.getElementById("surname").value;
            var call_number = document.getElementById("call_number").value;
            var locate = document.getElementById("locate").value;
            var industry = document.getElementById("industry").value;
            var sub_industry = document.getElementById("sub_industry").value;
            var status = document.getElementById("status").value;
            var role = document.getElementById("role").value;
            var gender = document.getElementById("gender").value;
            var options = {
            method: "post",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
                "Authorization":'Token' + ' ' + token
            },
            body:JSON.stringify({
                inn:inn,
                name:name,
                surname:surname,
                call_number:call_number,
                locate:locate,
                industry:industry,
                sub_industry:sub_industry,
                status:status,
                role:role,
                gender:gender
            })


 }

fetch(url, options)
.then(response => response.text())
.then(result => console.log(result))
.catch(error => console.log("error", error));
}


    function getToken(){
        var url = "http://127.0.0.1:8000/offer/auth/token/login/";
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    localStorage.setItem('username',username) ;
    localStorage.setItem('password', password)
    var options = {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json",

        },
        body: JSON.stringify({
            password: password,
            username: username,


        })

    }

fetch(url, options)
.then(response => response.text())
.then(result => localStorage.setItem('auth_token',result))
.catch(error => console.log("error", error));}

    // function RegistrationRole(){
    //     inn:123456789012
    //     name:Нариман
    //     surname:Ибрагимов
    //     call_number:89280608063
    //     locate:Махачкала
    //     industry:IT-Разработка
    //     sub_industry:Обеспечение и разработка Web систем
    //     status:Венчяурный инвестор
    //     role:Инвестор
    //     gender:Мужской
    // }
    function getprofiles(){

 var url = "http://127.0.0.1:8000/api/v1/profiles/";
 var token = JSON.parse(localStorage.getItem('authtoken'))['auth_token'];

 var options = {
     method: "get",
     headers: {
         "Content-Type": "application/json",
         "Accept": "application/json",
        "Authorization":'Token' + ' ' + token
     }


 }

fetch(url, options)
.then(response => response.text())
.then(result => console.log(result))
.catch(error => console.log("error", error));
}


    function aut(){

    var url = "http://127.0.0.1:8000/auth/token/login";
    var token = "d4cbcec638775b2531d59feab5387d70c32d420b";
    var username = document.getElementById("username1").value;
    var password = document.getElementById("password1").value;
    localStorage.setItem('username',username) ;
    localStorage.setItem('password', password)
    var options = {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json",

        },
        body: JSON.stringify({
            password: password,
            username: username,


        })

    }

fetch(url, options)
.then(response => response.text())
.then(result => localStorage.setItem('authtoken',result))
.catch(error => console.log("error", error));

    }
    function reg(){
    var url = "http://127.0.0.1:8000/auth/users/";
    var token = "d4cbcec638775b2531d59feab5387d70c32d420b";
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    var email = document.getElementById("email").value;

    var options = {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json",

        },
        body: JSON.stringify({
            password: password,
            username: username,
            email: email

        })
    }

fetch(url, options)
.then(response => response.text())
.then(result => console.log(result))
.catch(error => console.log("error", error));
    }
    function getdd(){
    var url = "https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/okved2";
    var token = "d4cbcec638775b2531d59feab5387d70c32d420b";
    var query = document.getElementById("query").value;

    var options = {
        method: "POST",
        mode: "cors",
        headers: {
            "Content-Type": "application/json",
            "Accept": "application/json",
            "Authorization": "Token " + token
        },
        body: JSON.stringify({query: query})
    }

fetch(url, options)
.then(response => response.text())
.then(result => console.log(result))
.catch(error => console.log("error", error));}
</script>
</html>

